    <h2>Welcome aboard, {{firstName}}! 🎉</h2>
    
    <p>Thank you for joining Mortgage Broker Pro. We're excited to have you as part of our community of professional mortgage brokers.</p>
    
    <p>With your new account, you can:</p>
    <ul>
        <li>Create and manage mortgage scenarios</li>
        <li>Calculate DSCR and investment metrics</li>
        <li>Generate professional PDF reports</li>
        <li>Compare multiple loan options</li>
        <li>Track your clients and deals</li>
    </ul>
    
    <div style="text-align: center;">
        <a href="{{loginUrl}}" class="button">Log In to Your Account</a>
    </div>
    
    <div class="divider"></div>
    
    <h3>Getting Started</h3>
    <p>Here are some resources to help you get the most out of Mortgage Broker Pro:</p>
    <ul>
        <li><a href="{{appUrl}}/docs/getting-started">Getting Started Guide</a></li>
        <li><a href="{{appUrl}}/docs/video-tutorials">Video Tutorials</a></li>
        <li><a href="{{appUrl}}/support">Support Center</a></li>
    </ul>
    
    <p>If you have any questions, don't hesitate to reach out to our support team.</p>
    
    <p>Best regards,<br>The Mortgage Broker Pro Team</p>
